@charset "UTF-8";

:root {
    --cor1: #BBDC56; /*textos cabeçalho, icones, atalhos, botoes*/
    --cor2: #DAAD86; /*textos cabeçalho menores, icones mini, cor de fundo em barras divisórias texto branco.*/
    --cor3: #262626;  /*background header, textos geral*/
    
}

* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color:  #e9dcd0;
}

main {
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.387);
}
header {
    background-color: var(--cor3);    
    color: white;
} 

header > img {
    padding: 10px;
    border-radius: 155px;
}

h1 {
    display: inline-block;
    font-family: gabriola ;
	color: #BBDC56 ;
	font-size: 40px ;
	font-weight: 500 ;
	font-style: normal ;
}

h2 {padding: 10px 0px;}

section.imagem {
    border-radius: 15px 0px;
    background-color: #262626;
    background-image: url(../imagens/golden-retriever-dog-by-Karen\ Arnold.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px opx rgba(0, 0, 0, 0.5);
    
}
section.imagem > div {
    border-radius: 15px 0px;
    background-color: #2626264d;
    text-shadow: 1px 1px 0px black;
    padding: 14px;
    height: 500px;
}
div.forte {
    padding: 20px 20px;
    font-size: 1.5em;
    margin-top: 100px; 
}

section#colunas {
    background-color: #acd3d8;
    columns: 4;
}

section#colunas > div {
    width: 180px;
    border: 1px solid var(--cor2);
    margin: 10px;
    padding: 10px;
    display: inline-block;
}